<% layout('layouts/boilerplate') %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Edit your listing </h3>
    
    <% layout('layouts/boilerplate') %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Edit your listing </h3>
    
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Add a Cachy Title" class="form-control">
            </div>
            <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" value="<%= listing.description %>"  class="form-control"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image </label>
                <input type="file" name="listing[image]" id="image"  class="form-control" >
                <div class="invalid-feedback">Image is required.</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" placeholder="1000" class="form-control">
                </div>
               
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="India" class="form-control">
                </div>
            </div>
            
    
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]"  value="<%= listing.location %>" placeholder="Andra Pradesh" class="form-control">
            </div>
            
        <button class="btn addbtn mt-3">Edit</button>
        <br><br>

    </form>
</div>
</div>
</body>
</div>
</div>
</body>
